################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPrime/Debug
/CPrime/Release
/CPrime/Release/CPrime.tlog
/CPrime/Release
/CPrime/.vs/CPrime/v15
/.vs/slnx.sqlite
/.vs
/CPrime/hello.json
