################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPrime/Debug
/CPrime/Release
/CPrime/.vs/CPrime/v15
/.vs/slnx.sqlite
/.vs
/CPrime/hello.json
/CPrime/out/hello.c
/Hello/Release
/Hello/Debug
/Debug
/Release
/Release
/Release/CPrime.log
/CPrime/.vs/CPrime/v16/.suo
/CPrime/.vs/CPrime/v16
/CPrime/Hello/Debug
/CPrime/Tests/BasicScannerTest/Debug
/CPrime/Tests/BasicScannerTest/x64/Debug
/CPrime/Tests/ParserTest/Debug
/CPrime/Tests/ScannerTest/Debug
/CPrime/Tests/StreamTest/Debug
/CPrime/bin/x64/Debug
/CPrime/Hello/x64/Debug
/CPrime/obj/x64/Debug
/CPrime/Tests/ParserTest/x64/Debug
/CPrime/Tests/ScannerTest/x64/Debug
/CPrime/Tests/StreamTest/x64/Debug
/CPrime/x64/Debug
/CPrime/obj/x86/Release
/CPrime/Hello/Release
/CPrime/Tests/BasicScannerTest/Release
/CPrime/Tests/ParserTest/Release
/CPrime/Tests/ScannerTest/Release
/CPrime/Tests/StreamTest/Release
/CPrime/obj/x86/Debug
